<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>ContextAttributeListenerServlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuhj.August21.AttributeListenDemo.ContextAttributeListenerServlet</servlet-class>
        <servlet-name>TestServlet01</servlet-name>
        <servlet-class>com.asiainfo.chapter1.hanjunwen.JavaWebDemo01.TestServlet</servlet-class>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.zhangyang.week5_day_04.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ContextAttributeListenerServlet</servlet-name>
        <url-pattern>/ContextAttributeListenerServlet</url-pattern>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>-->
    <!--韩俊文-->
    <!--用户登录--> <servlet>
    <servlet-name>HandleUserLogin</servlet-name>
    <servlet-class>com.asiainfo.chapter1.hanjunwen.webDemo.workDemo.controller.user.HandleUserLoginServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>HandleUserLogin</servlet-name>
        <url-pattern>/tologin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lhjDemoServlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuhj.August21.FilterDemo.lhjDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lhjDemoServlet</servlet-name>
        <url-pattern>/lhjDemoServlet</url-pattern>
    </servlet-mapping>



    <!--&lt;!&ndash;设置session的时间为1分钟&ndash;&gt;-->
    <!--<session-config>-->
    <!--<session-timeout>1</session-timeout>-->
    <!--</session-config>-->
    <!--<listener>-->
    <!--<listener-class>com.asiainfo.chapter1.liuhj.August21.AttributeListener.lhjAttributeListener</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
    <!--<listener-class>com.asiainfo.chapter1.liuhj.August21.AttributeListener.lhjSessionAttrListener</listener-class>-->
    <!--</listener>-->

    <filter>
        <filter-name>lhjDemoFilter</filter-name>
        <filter-class>com.asiainfo.chapter1.liuhj.August21.Filter.lhjDemoFilter</filter-class>
        <init-param>
            <param-name>name1</param-name>
            <param-value>value1</param-value>
        </init-param>
        <init-param>
            <param-name>name2</param-name>
            <param-value>value2</param-value>
        </init-param>
        <init-param>
            <param-name>name3</param-name>
            <param-value>value3</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>lhjDemoFilter</filter-name>
        <servlet-name>ContextAttributeListenerServlet</servlet-name>
        <url-pattern>/chapter1/liuhj/Demo.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>lhjDemo1Filter</filter-name>
        <filter-class>com.asiainfo.chapter1.liuhj.August21.Filter.lhjDemo1Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>lhjDemo1Filter</filter-name>
        <servlet-name>ContextAttributeListenerServlet</servlet-name>
        <url-pattern>/chapter1/liuhj/Demo.jsp</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.asiainfo.chapter1.liuhj.August21.Filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/lhjDemoServlet</url-pattern>
    </filter-mapping>
    <!--filter 编码格式过滤  /*过滤所有的servlet-->
    <filter>
        <filter-name>encodingfilter</filter-name>
        <filter-class>com.asiainfo.chapter1.zhangle.ServletDay2.FilterServlet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingfilter</filter-name>
        <url-pattern>/zl/*</url-pattern>
    </filter-mapping>
    <!--登录过滤  个人界面-->
    <filter>
        <filter-name>loginfilterzl</filter-name>
        <filter-class>com.asiainfo.chapter1.zhangle.BBSWorks.Filter.LoginFlter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginfilterzl</filter-name>
        <url-pattern>/zl/talks</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>datepaging</servlet-name>
        <servlet-class>com.asiainfo.chapter1.zhangle.BBSWorks.Servlet.DatePagingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>datepaging</servlet-name>
        <url-pattern>/zl/pagings</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>com.asiainfo.chapter1.zhangle.BBSWorks.Servlet.CommmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/zl/talks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>commentsfirst</servlet-name>
        <servlet-class>com.asiainfo.chapter1.zhangle.BBSWorks.Servlet.FirstCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>commentsfirst</servlet-name>
        <url-pattern>/zl/commentsfirst</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upfile</servlet-name>
        <servlet-class>com.asiainfo.chapter1.zhangle.BBSWorks.Servlet.UpFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upfile</servlet-name>
        <url-pattern>/zl/upfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>regist</servlet-name>
        <servlet-class>com.asiainfo.chapter1.zhangle.BBSWorks.Servlet.Regist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regist</servlet-name>
        <url-pattern>/zl/registServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.asiainfo.chapter1.zhangle.BBSWorks.Servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/zl/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>personServlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.zhangle.BBSWorks.Servlet.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>personServlet</servlet-name>
        <url-pattern>/zl/personServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registservlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuwy.August18.RegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registservlet</servlet-name>
        <url-pattern>/registservlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectservlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuwy.August18.SelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectservlet</servlet-name>
        <url-pattern>/selectservlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteservlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuwy.August21.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteservlet</servlet-name>
        <url-pattern>/deleteservlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateservlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuwy.August21.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateservlet</servlet-name>
        <url-pattern>/updateservlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuwy.demo.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uploadservlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuwy.demo.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadservlet</servlet-name>
        <url-pattern>/uploadservlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>findpageservlet</servlet-name>
        <servlet-class>com.asiainfo.chapter1.liuwy.demo.FindPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findpageservlet</servlet-name>
        <url-pattern>/findpageservlet.do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ecodingfilter</filter-name>
        <filter-class>com.asiainfo.chapter1.liuwy.demo.EcodingFiter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ecodingfilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>loginfilter</filter-name>
        <filter-class>com.asiainfo.chapter1.liuwy.demo.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/chapter1/liuwy/demo/manager/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/chapter1/liuwy/demo/message/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/chapter1/liuwy/demo/user/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>deletefilter</filter-name>
        <filter-class>com.asiainfo.chapter1.liuwy.demo.DeleteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>deletefilter</filter-name>
        <url-pattern>/deleteservlet.do</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>updatefilter</filter-name>
        <filter-class>com.asiainfo.chapter1.liuwy.demo.UpdateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>updatefilter</filter-name>
        <url-pattern>/updateservlet.do</url-pattern>
    </filter-mapping>
</web-app>
